# Set to the same as the NEAR contract_id in deployment.yaml
AGENT_CONTRACT_ID=
# Sponsor NEAR account details to fund the agent
# Generate by using the "shade auth set near testnet create-new" command
SPONSOR_ACCOUNT_ID=
SPONSOR_PRIVATE_KEY=