# Get this from near-cli-rs 
NEAR_ACCOUNT_ID=oiasdjfoew.testnet
NEAR_SEED_PHRASE="cancel sniff dinosaur protect climb where peasant shell girl limb together envelope" 

NEXT_PUBLIC_contractId=contract.oiasdjfoew.testnet